/* --- PALETA FERRARI --- */
:root {
    --ferrari-red: #D40000;
    --dark-bg: #0a0a0a;
    --text-white: #ffffff;
    --text-gray: #888888;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--dark-bg);
    color: var(--text-white);
    margin: 0;
}

/* Tipografía de Títulos */
h1, h2, h3, .brand-font {
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
}

/* Utilidades de texto */
.text-ferrari { color: var(--ferrari-red) !important; }
.hover-red:hover { color: var(--ferrari-red) !important; transition: 0.3s; }

/* Scrollbar personalizado */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #111; }
::-webkit-scrollbar-thumb { background: #444; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: var(--ferrari-red); }